<include file="_head" />
    <div class="banner">
    	<div class="banner_wrap">
            <h2 class="desc_pic">遵循Apache2开源协议,免费提供使用,微信功能插件化开发,多公众号管理,配置简单</h2>
            <div class="text_wrap">
                <h3 class="desc_title">简洁而强大的开源微信公众平台开发框架</h3>
                <ul>
                	<li><span>&nbsp;&nbsp;</span>产品永久开放开源。</li>
                    <li><span>&nbsp;&nbsp;</span>微信功能插件化开发，更易于定制和二次开发。</li>
                    <li><span>&nbsp;&nbsp;</span>丰富的插件库。</li>
                    <li><span>&nbsp;&nbsp;</span>支持多用户多公众号管理，满足个性化需求。</li>
                </ul>
                <a class="download" href="http://www.weiphp.cn/index.php?s=/home/index/downloadfile.html">WeiPHP1.0417正式版</a>
                <div class="getqrcode top_getqrcode">
                    <img src="__IMG__/getqrcode.jpg"/>
                    <p>微信扫码左侧二维码<br/>并加关注WeiPHP官方微信公众号<br/>体验WeiPHP的最新功能</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="func">
    	<ul class="wrap">
        	<li class="func_1">
            	<h4>遵循Apache2开源协议,免费提供使用</h4>
            	<p>1. 免费下载<br/>
2. 如果你修改了代码，需要在被修改的文件中说明。<br/>
3. 在延伸的代码中（修改和有源代码衍生的代码中）<br/>
    需要带有原来代码中的协议，商标，专利声明和其
    他原来作者规定需要包含的说明。</p>
            </li>
            <li class="func_2">
            	<h4>微信功能插件化开发</h4>
            	<p>1.开放的插件系统<br/>
2.个性化定制<br/>
3.方便管理，安装即可使用<br/>
4.高效快捷的二次开发</p>
            </li>
            <li class="func_3">
            	<h4>多公众号管理</h4>
            	<p>1.一个后台，多个公众号<br/>
2.对各个公众号按需授权不同<br/>
3.方便运营</p>
            </li>
            <li class="func_4">
            	<h4>配置简单</h4>
            	<p>1.强大的后台功能<br/>
2.简单配置多个微信公众号<br/>
3.数据备份<br/>
4.用户行为监控</p>
            </li>
        </ul>
    </div>
<include file="_footer" />